top_level_domain = "example.com"

[fileupload]
base_url = "https://fileupload.example.com"
listen_address = "127.0.0.1"
port = 8888
css_nonce_length = 16
javascript_nonce_length = 16
temporary_directory = "/var/fileupload/tmp"
recv_file_timeout = 60  # [s]
recv_chunk_timeout = 1  # [s], maximum time to receive 4KiB; thus minimum upload speed 32Kbps

[fileupload.output]
private_dir = "/var/www/private"
private_base_url = "https://priv.example.com"
public_dir = "/var/www/public"
public_base_url = "https://pub.example.com"

[auth]
auth_base_url = "https://auth.priv.example.com"
algo = "hmac"
encoding = "urlsafe_base64"
use_csrf = true
verify_referrer = true

[auth.hmac]
digest = "sha3_256"
secret_key = "+okQXtx9Tiyjo94tjZkKQp8kWI3BYpR/pi6xv8TlUQ0="
length = 16

[auth.responder]
listen_address = "127.0.0.1"
port = 8889

[auth.csrf]
secret_key = "nhcklE7Kn+ikEcgrWGYJ4hgl/X3RvaUiuBVTGNqRP38="
digest = "sha3_256"
hmac_length = 16

[session]
secret_key = "6OMxWxZPbgfoiLcGGnFr0YuRJmFFWAXIoC5jLGwJNDg="
session_id_length = 16
expiration_time = 86400  # [s] = 24 h
renew_within = 3600  # [s] = 1 h
digest = "sha3_256"
hmac_length = 16
