<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Encrypted file</title>
        <style nonce="{{ style_nonce }}">
            #url {
                width: 30vw;
                font-family: monospace;
            }

            #url-button {
                display: none;
            }

            #url-button.visible {
                display: inline;
            }

            #copied {
                opacity: 0;
                display: none;
            }

            #copied.fade-in {
                display: inline;
                animation: fade-in 0.2s ease-in forwards;
            }

            @keyframes fade-in {
                0% {
                    opacity: 0;
                    display: none;
                }

                100% {
                    opacity: 1;
                    display: inline;
                }
            }

            body > noscript {
                font-size: xxx-large;
                color: red;
            }

            #content {
                display: none;
            }

            #content.visible {
                display: block;
            }

            #log {
                color: red;
            }

            #display-area {
                max-width: 80vw;
                max-height: 80vh;
                overflow: auto;
            }

            object {
                max-width: 100vw;
            }
        </style>
    </head>
    <body>
        <noscript>
            Cannot decrypt without JavaScript !!!
        </noscript>
        <div id="content">
            <div>
                <label for="url">File URL:</label>
                <input id="url" type="text" value="" readonly="readonly" />
                <button id="url-button">Copy</button>
                <span id="copied">Copied!</span>
            </div>
            <br/>
            <div>
                File state: <span id="state">Inactive</span>
            </div>
            <br/>
            <div>
                File type: <code id="file-type">unknown</code>
            </div>
            <br/>
            <button id="download" disabled>Download file</button> <span id="link-area"></span>
            <pre id="log"></pre>
            <br/>
            <div id="display-area"></div>
        </div>
        <script nonce="{{ script_nonce }}" blocking="render">
            /**
             * @type {HTMLButtonElement}
             */
            const btn = document.getElementById('url-button');
            /**
             * @type {HTMLInputElement}
             */
            const url = document.getElementById('url');
            /**
             * @type {HTMLSpanElement}
             */
            const copied = document.getElementById('copied');
            /**
             * @type {HTMLDivElement}
             */
            const content = document.getElementById('content');
            /**
             * @type {HTMLButtonElement}
             */
            const download = document.getElementById('download');
            /**
             * @type {HTMLDivElement}
             */
            const log = document.getElementById('log');
            /**
             * @type {HTMLSpanElement}
             */
            const state = document.getElementById('state');
            /**
             * @type {HTMLDivElement}
             */
            const displayArea = document.getElementById('display-area');
            /**
             * @type {HTMLSpanElement}
             */
            const linkArea = document.getElementById('link-area');
            /**
             * @type {HTMLElement}
             */
            const fileType = document.getElementById('file-type');
            /**
             * @type {File}
             */
            let decryptedFile = null;
            /**
             * @type {String}
             */
            let decryptedFileURL = null;

            btn.addEventListener('click', e => {
                url.select();
                navigator.clipboard.writeText(url.value).then(() => {
                        copied.classList.add('fade-in');
                });
            })

            /**
             * @param fileUrl String
             * @param fileName String
             * @param keyIv String
             * @returns {Promise<(File|URL)[]>}
             */
            async function loadFile(fileUrl, fileName, keyIv) {
                if (!keyIv.startsWith('#')) {
                    throw new Error('Anchor does not start with #');
                }
                const sep = keyIv.indexOf('/');
                if (sep === -1) {
                    throw new Error('Malformed anchor');
                }

                const ivEncoded = keyIv.slice(1, sep);
                const keyEncoded = keyIv.slice(sep + 1);

                if (ivEncoded === '') {
                    throw new Error('Empty IV');
                }

                if (keyEncoded === '') {
                    throw new Error('Empty key');
                }

                // Get the ciphertext
                const response = await fetch(fileUrl, {
                    credentials: 'include',
                    method: 'GET',
                    mode: 'cors'
                });

                const ciphertext = await response.bytes();
                const iv = Uint8Array.fromBase64(ivEncoded, {alphabet: 'base64url', lastChunkHandling: 'loose'});
                const keyData = Uint8Array.fromBase64(keyEncoded, {alphabet: 'base64url', lastChunkHandling: 'loose'});
                const key = await self.crypto.subtle.importKey('raw', keyData, 'AES-GCM', false, ['decrypt']);

                const cleartext = await self.crypto.subtle.decrypt({name: 'AES-GCM', iv: iv, tagLength: 128}, key, ciphertext);

                const file = new File([cleartext], fileName, {type: response.headers.get('content-type')});
                const blobUrl = URL.createObjectURL(file);

                return [file, blobUrl];
            }

            download.addEventListener('click', e => {
                if (decryptedFile === null || decryptedFileURL === null) {
                    log.innerText += 'File not downloaded yet.\n';
                    return;
                }
                /**
                 * @type {HTMLAnchorElement}
                 */
                const a = document.createElement('a');
                a.href = decryptedFileURL;
                a.download = decryptedFile.name;
                a.type = decryptedFile.type;
                a.click();
                a.remove();
            })

            url.value = window.location;
            btn.classList.add('visible');
            content.classList.add('visible');

            state.innerText = 'Loading...';
            loadFile({{ file_url|tojson }}, {{ filename|tojson }}, window.location.hash).then((r) => {
                state.innerText = 'Loaded and decrypted.';
                [decryptedFile, decryptedFileURL] = r;
                download.disabled = false;

                fileType.innerText = decryptedFile.type;

                if (decryptedFile.type.startsWith('text/') || decryptedFile.type.startsWith('image/') || decryptedFile.type.startsWith('video/')) {
                    /**
                     * @type {HTMLObjectElement}
                     */
                    const object = document.createElement('object');
                    object.type = decryptedFile.type;
                    object.data = decryptedFileURL;

                    /**
                     * @type {HTMLAnchorElement}
                     */
                    const newtabLink = document.createElement('a');
                    newtabLink.target = '_blank';
                    newtabLink.href = decryptedFileURL;
                    newtabLink.text = 'Open in new tab';
                    linkArea.appendChild(newtabLink);

                    if (decryptedFile.type.startsWith('image/')) {
                        /**
                         * @type {HTMLAnchorElement}
                         */
                        const displayLink = newtabLink.cloneNode();
                        displayLink.appendChild(object);
                        displayArea.appendChild(displayLink);
                    } else {
                        displayArea.appendChild(object);
                    }
                }
            }).catch(e => {
                state.innerText = 'Error.';
                console.error(e);
                log.innerText += e.toString() + '\n';
            });
        </script>
    </body>
</html>
